<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GHANA-KOREA INFORMATION ACCESS CENTER</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link type="text/css" rel="stylesheet" href="../css/mainCSS.css"/>

<style>
header, header a{
  text-align: center;
  color: white;
}
header .container {
  padding-bottom: 50px;
  background-color: #020051;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
header .col-lg-4{
  padding: 100px 0;
}
hr.star-light {
  padding: 0;
  border: none;
  border-top: solid 2px;
  text-align: center;
  max-width: 150px;
  margin: 25px auto 30px;
}
hr.star-light:after{
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  color: white;
}
.col-lg-4:hover{
  background-color: #000073;  
}
a:hover{
  color: #fff;
  text-decoration: none;
}

</style>
</head>
<body>

<!-- header start-->

	<div class="top-bar"></div>
	
	<div class="title-bar">
		<img src="../images/iac_banner4.png" alt="Image" id="banner">
	</div>
	
	<div class="menu">		
		<nav class="navbar navbar-default">
		      <ul class="nav navbar-nav">
		     	<li><a href="main.html"><span class="glyphicon glyphicon-home"></span></a></li>

		     	<li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About us
			        <span class="caret"></span></a>
			         <ul class="dropdown-menu">
			          <li><a href="aboutus.html">About us</a></li> 
			          <li><a href="staff.html">Staff</a></li> 
			        </ul>
			      </li>
		        
		        <li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Facilities
			        <span class="caret"></span></a>
			         <ul class="dropdown-menu">
			          <li><a href="itTrainingLab.html">IT Training Lab</a></li>
			          <li><a href="conferenceRoom.html">Conference Room</a></li>
			          <li><a href="seminarRooms.html">Seminar Rooms</a></li> 
			          <li><a href="internetLounge.html">Internet Lounge</a></li>
			          <li><a href="reception.html">Reception</a></li> 
			        </ul>
			      </li>
		        
		        <li><a href="events.html">Events</a></li>
		        <li><a href="reservation.html">Reservation</a></li>
		        
		        <li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Partners
			        <span class="caret"></span></a>
			         <ul class="dropdown-menu">
			          <li><a href="http://eng.nia.or.kr/" target="_blank">NIA</a></li>
			          <li><a href="https://kiv.nia.or.kr/en/info/infoList.do" target="_blank">KIV</a></li>
			          <li><a href="#">IAC Net</a></li> 
			        </ul>
			      </li>
		        
		        
		        <li><a href="http://iac.cafe24app.com/booking">Booking System</a></li>

		        <li><a href="http://iac.cafe24app.com/news/list?page=1">News</a></li>
		      </ul>
		</nav>				
	</div>
<!-- header end -->	
	
<!--****************************** container start ********************************-->	
	<header>
        <div class="container">
        
            <div class="row">
              <a href="aboutus.html">
                <div class="col-lg-4" id="aboutus_main_btn">
                    <div class="intro-text">
                        <span class="glyphicon glyphicon-info-sign" id="logo"></span>    
                                  
                      <hr class="star-light">
                        <span class="name">ABOUT US</span>
                    </div>
                </div>
              </a>
              <a href="staff.html">
                 <div class="col-lg-4" id="staff_main_btn">
                    <div class="intro-text">
                        <span class="glyphicon glyphicon-user" id="logo"></span>                  
            
                      <hr class="star-light">
                        <span class="name">STAFF</span>
                  
                    </div>
                </div>
              </a>
            
              <a href="itTrainingLab.html">
                 <div class="col-lg-4" id="fa_main_btn">
                    <div class="intro-text">
                       <span class="glyphicon glyphicon-blackboard" id="logo"></span>  
                       <hr class="star-light">
                      
                        <span class="name">FACILITIES</span>
                
                    </div>
                </div>
              </a>
          
            
            <div class="row">
                      <a href="events.html">
                         <div class="col-lg-4" id="event_main_btn">
                    <div class="intro-text">
                        <span class="glyphicon glyphicon-calendar" id="logo"></span>
                      <hr class="star-light">
                        <span class="name">EVENT</span>
                            </div>
                </div>
              </a>
                
                
                      <a href="http://iac.cafe24app.com/booking">
                        <div class="col-lg-4" id="bs_main_btn">
                    <div class="intro-text">
                       <span class="glyphicon glyphicon-edit" id="logo"></span>                 
          
                      <hr class="star-light">
                        <span class="name">BOOKING SYSTEM</span>
                    </div>
                </div>
                    </a>
                
                      <a href="http://iac.cafe24app.com/news/list?page=1">
                        <div class="col-lg-4" id="news_main_btn">
                          <div class="intro-text">
                            <span class="glyphicon glyphicon-list-alt" id="logo"></span>  
                              <hr class="star-light">
                              <span class="name">NEWS</span>
                        
                              </div>
                          </div>
                    </a>
            </div>
        </div>
    </header>
	
<!--******************************** container end ********************************-->	


<!-- footer start -->
	<div class="footer">
		<footer class="contatiner text-center">
			<div class="row">
				<div class="col-sm-12" id="ToTopIcon"> 
					<a href="#" title="To Top">
					<span class="glyphicon glyphicon-chevron-up"></span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<p>IAC : GHANA-KOREA INFORMATION ACCESS CENTER</p>
				</div>
				<div class="col-sm-5 text-left">
					<p>
						<span class="glyphicon glyphicon-home"></span>&nbsp;
						<small>P.O. Box LG 24, Legon, Ghana
							Location: Balme Library
						</small>
					</p>
					<p>
						<span class="glyphicon glyphicon-phone-alt"></span>&nbsp;
						<small>+233 -302 213820 Ext: 7278</small>
					</p>
					<p>
						<span class="glyphicon glyphicon-envelope"></span>&nbsp;
						<small>iac.ugcs@ug.edu.gh</small>
					</p>
				</div>
			</div>
		</footer>
	</div>
<!-- footer end -->	
</body>
</html>