@CHARSET "utf-8";
html{
	width: 70%;
	margin: auto;
}
body{
	font-family: Open Sans;
	font: 13px/21px "Open Sans", arial, sans-serif;
}

div{
	display: block;
	border-style: none;
}

/*box ---------------------------------*/


.top-bar{
	background-color: #000073;
	height: 30px;
	
}
.title-bar{
	text-transform: uppercase;
}
.page-header{
	border-bottom: 0;
}
.menu{
	
	border-bottom: solid 3px #b08b57;
}
.navbar{
	background-color: #000073;
	text-transform: uppercase;
	border-radius: 0;
	margin-bottom: 0;
	border: 0;
	font-size: 12px;
}

.navbar .dropdown-menu{
	text-transform: none;
	border-radius: 0;
	border-top: solid 1px #b08b57;
}

.navbar li a, .navbar{
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #000080 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.open .dropdown-toggle {    
    background-color: #000080 !important;
}
.dropdown-menu{
	background-color: #000073;
}

.container{
}

footer .glyphicon{
	margin-top: 30px;
	color: navy;
}